<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="css/tailwind.css" />
    <link rel="stylesheet" href="TailwindBlazorApp.styles.css" />
    <HeadOutlet />
</head>

<body class="bg-white text-gray-900 antialiased dark:bg-gray-950 dark:text-gray-100">
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
